{% extends "layout.html" %}

{% block title %}Reseptin muokkaus{% endblock %}

{% block content %}
<h2>{{ recipe.title }}</h2>

<h3>Reseptin muokkaus</h3>

<form action="/update_recipe" method="post">
  <p>
    <label for="title">Reseptin nimi</label>: <br />
    <input type="text" name="title" id="title" value="{{ recipe.title }}" maxlength="50" required />
  </p>
  <p>
    <label for="description">kuvaus</label>: <br />
    <textarea name = "description" id="description" rows="8" cols="60" maxlength="500" required>{{recipe.description}}</textarea>
  </p>
  <p>
    <label for="ingredients">ainesosat</label>: <br />
    <textarea name = "ingredients" id="ingredients" rows="10" cols="40" maxlength="1000" required>{{recipe.ingredients}}</textarea>
  </p>
  <p>
    <label for="instructions">ohje</label>: <br />
    <textarea name = "instructions" id="instructions" rows="15" cols="60" maxlength="2000" required>{{recipe.instructions}}</textarea>
  </p>

  {% for class in all_classes %}
  <p>
    <label for="class{{ class }}">{{ class }}</label>: <br />
    <select name="classes" id="class{{ class }}">
      <option value="">(valitse)</option>
    {% for option in all_classes[class] %}
      {% if classes[class] == option %}
      <option value="{{ class }}:{{ option }}" selected>{{ option }}</option>
      {% else %}
      <option value="{{ class }}:{{ option }}">{{ option }}</option>
      {% endif %}
    {% endfor %}
    </select>
  </p>
  {% endfor %}
  <input type="hidden" name="recipe_id" value="{{ recipe.id }}" />
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Päivitä resepti" />
</form>

<p>
  Resepti: <a href="/recipe/{{ recipe.id }}">Takaisin reseptiin</a>
</p>

{% endblock %}